<div class="container">
    <span>advanceangular app is running!</span>
</div>
<div class="container">
    <h2>This Is Advanced Angular Concepts</h2>
    <br>
    <h3>This Is Lazy Loading Of The Module</h3>
    <h3>Admin Page</h3>
    <ul>
        <li>
            <a routerLink="admin/login">Log In</a> <br>
        </li>
        <li>
            <a routerLink="admin/list">List</a>
        </li>
    </ul>
    <h3>User Page</h3>
    <ul>
        <li>
            <a routerLink="user/login">Log In</a> <br>
        </li>
        <li>
            <a routerLink="user/list">List</a>
        </li>
    </ul>
    <router-outlet></router-outlet>  
</div>
<!-- lazy loading of the components -->
<div class="container">
    <h3>This Is Lazy Loading Of The Components</h3>
    <button (click)="loadabt()" class="m-1" >About Us</button>
    <button (click)="loadcu()">Contact Us</button>
</div>

<!-- Template driven forms -->
<!-- And It's Validations -->

<div class="container mt-2">
    <h3>This is template driven form With Validations</h3>
        <form #userform="ngForm" (ngSubmit)="onSubmit(userform.value)" class="col col-lg-6">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" name='email' email ngModel required #email="ngModel">
              <span *ngIf="email?.invalid && email?.touched" class="error">Email Is not valid</span>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" ngModel
              required #password="ngModel" pattern="[a-zA-Z0-9@]*">
              <span *ngIf="password?.invalid && password?.touched" class="error">Password Field Is Required</span>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
                <input type="text" class="form-control" name="number" ngModel
                minlength="8" maxlength="12" pattern="[0-9]*" required #number="ngModel">
                <span *ngIf="number?.invalid && number?.touched" class="error">Mobile Number Is Not Valid</span>
              </div>
            <button type="submit" [disabled]="userform.invalid" class="btn btn-primary">Submit</button>
          </form>
</div>
<br>
<!-- Reactive form validations -->

<div class="container">
    <h3>This Is Reactive Form With Validations</h3>
    <form class="col col-lg-6" [formGroup]="loginForm" (ngSubmit)="Submit()" >
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" formControlName="email1" email>
          <span *ngIf="email1?.invalid && email1?.touched" class="error">Email Is Not Valid</span>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password1" password >
          <span *ngIf="password1?.invalid && password1?.touched" class="error">Password Field Is Required</span>
        </div>
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Submit</button>
      </form>
</div>
